<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&amp;family=Montserrat:wght@400;700&amp;family=Open+Sans:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/main.css" rel="stylesheet" />
    <title>Awesome Profile Cards</title>
  </head>
  <body>
    <section class="main1 js-preview-container palette-1">
      <div class="main1__container">
        <div>
          <div class="main1__container__text">
            <div class="border">
              <p class="main1__container__text--name js-preview-name">
                <%=name%>
              </p>
              <p class="main1__container__text--profession js-preview-job">
                <%=job%>
              </p>
            </div>
          </div>
          <div class="profile">
            <div
              class="profile__avatar"
              style="background-image: url(<%=photo%>)"
            ></div>
          </div>
          <nav class="main1__container__rrss">
            <a class="js-preview-phone" href="tel:<%=phone%>"
              ><i
                class="main1__container__rrss__link fa-solid fa-mobile-screen-button"
              ></i></a
            ><a class="js-preview-email" href="mailto:<%=email%> "
              ><i
                class="main1__container__rrss__link fa-solid fa-envelope"
              ></i></a
            ><a class="js-preview-linkedin" href="<%=linkedin%>"
              ><i
                class="main1__container__rrss__link fa-brands fa-linkedin-in"
              ></i></a
            ><a class="js-preview-github" href="<%=github%>"
              ><i
                class="main1__container__rrss__link fa-brands fa-github-alt"
              ></i
            ></a>
          </nav>
        </div>
      </div>
    </section>
  </body>
</html>
